:root {
--vp-c-brand: theme('colors.pink.500');
--vp-c-brand-light: theme('colors.pink.400');
--vp-c-brand-lighter: theme('colors.pink.300');
--vp-c-brand-dark: theme('colors.pink.600');
--vp-c-brand-darker: theme('colors.pink.700');

}
